<h1>Events list</h1>

<p>
	<%= link_to "Latest events", latest_events_path, :class => "btn btn-primary" %>
</p>

<%= form_for @event do |f| %>

	<%= render :partial => "form", :locals => {:f => f} %>

	<%= f.submit "Save", :class => "btn btn-primary" %>

<% end %>

<%= form_tag bulk_update_events_path do  %>

<table class="table">
<% @events.each do |event| %>
	<tr>
		<td>

			<%= check_box_tag "ids[]", event.id, false %>

			<%= link_to event.name, event_path(event), :class => "btn btn-primary" %>
		</td>
		<td>
			<%= link_to "Show", event_path(event), :class => "btn btn-default" %>
			<%= link_to "Dashboard", dashboard_event_path(event), :class => "btn btn-default" %>
			<%= link_to "Location", event_location_path(event), :class => "btn btn-default" %>
			<%= link_to "Attendee List", event_attendees_path(event), :class => "btn btn-primary" %>
			<%= link_to " (XML)", event_path(event, :format => :xml), :class => "btn btn-default" %>
			<%= link_to " (JSON)", event_path(event, :format => :json), :class => "btn btn-default" %>
			<%= link_to "Edit", events_path(:eid => event.id), :class => "btn btn-default" %>
			<%= link_to "Delete", event_path(event), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger" %>
		</td>
	</tr>
<% end %>
</table>

	<%= submit_tag "Delete" %>
	<%= submit_tag "Publish" %>
<% end %>

<%= link_to 'New Event', events_path, :class => "btn btn-primary" %>
<!--<%= link_to 'Atom feed', events_path(:format => :atom) %>-->

<%#= button_to "Delete All", bulk_delete_events_path, :method => :post, :class => "btn btn-danger" %>

<%= paginate @events %>