<h2><%= @event.name %></h2>

<p><%= @event.status %></p>

<% if @event.avatar.exists? %>
  <%= image_tag(@event.avatar.url(:medium)) %>
<% else %>
  None
<% end %>

<br>
<%= audio_tag @event.sound.url, controls: "controls", alt: "Please use chrome, ie, or safari", preload: :auto %>

<ul>
  <% @event.groups.each do |group| %>
    <li><%= group.name %></li>
  <% end %>
</ul>


<p><%= @event.category.try(:name) %></p>
<%# Rails.logger.debug("***DEBUG*** #{@event.inspect}") %>
<!-- Simple format is used for auto <br> on HTML -->
<p><%= simple_format @event.description %></p>
<p><%= @event.start_time %></p>

<p><%= link_to 'Back to index', events_path %></p>